@page
@model Assignment2_Exer3_Final.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login Form</h2>

<form method="post">
    <div>
        Username: <input type="text" name="user" />
    </div>
    <div>
        Password: <input type="password" name="pass" />
    </div>
    <button type="submit">Login</button>
</form>